* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #fafafa;
}

li, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 72px;
  background: #fff;
}

header nav {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header nav .logo {
  float: left;
}

header nav .logo img {
  height: 72px;
}

header nav .nav-wrap {
  float: right;
}

header nav .nav-wrap li {
  float: left;
  box-sizing: border-box;
  padding-left: 16px;
  line-height: 72px;
}

header nav .nav-wrap li a {
  font-family: system-ui;
}

header nav .nav-wrap li form button {
  border: none;
  background: none;
  font-size: 100%;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.colum-wrap {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}

.author-box {
  box-sizing: border-box;
  padding: 16px;
}

.comment-box {
  box-sizing: border-box;
  padding: 16px;
}

.image-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.image-box > img {
  position: absolute;
  width: 100%;
  top: -20%;
  left: 0;
}
