{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="colum-wrap">

            <div class="author-box">
                <p>{{ post.author.username }}</p>
            </div>

            <div class="image-box">
                <img src="{{ post.photo.url }}" width="100%" alt="">
            </div>

            <div class="comment-box">
                <p><a href="{{ post.pk }}">{{ post }}</a></p>
                <p>{{ post.created_at }}</p>
            </div>

        </div>

    {% endfor %}
{% endblock %}